---
import "../styles/global.css";
import CurtainLoader from "../components/ui/CurtainLoader.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Digitalizamos negocios tradicionales: web, redes sociales e identidad digital.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="../../public/icons/NETSHcomar.svg" />
  </head>
  <body>
    <CurtainLoader />
    <slot />

    <script>
      import { initScrollReveal } from "../scripts/gsap/scrollReveal";
      import { initCounterAnimations } from "../scripts/gsap/counterAnimations";
      import { initCurtain } from "../scripts/gsap/curtainReveal";

      initScrollReveal();
      initCounterAnimations();
      initCurtain();
    </script>
  </body>
</html>